/* file Admin css */
/* ===============================Admin=================================== */
/* background */
.background-left {
    background-color: #06121E;
    /* height: 100vh; */
}

.background-right {
    background-color: #0B1A2A;
    /* height: 100vh; */
}
/* bar  */
.line-line {
    color: #fff;
    position: relative;
    top: 0.7rem;
}

.bar-user {
    color: #fff;
    position: relative;
    top: 0.7rem;
    text-decoration: none;
}

.bar-film {
    color: #FFC107;
    position: relative;
    top: 0.7rem;

}

.bar-user:hover {
    color: #FFF;
}

.bar-film:hover {
    color: #FFC107;
}

.mess {
    color: #06111D;
    position: relative;
    top: 0.7rem;
}

.name-acc {
    color: aliceblue;
    position: relative;
    top: 0.7rem;
}

.backgroud-bar {
    background-color: #858C94;
    height: 3rem;
}

/* icon-item */
.icon-item {
    position: relative;
    color: #ffff;
    font-size: 1.6rem;
    left: 2rem;
    top: 3rem;
    text-decoration: none;
}

.icon-item:hover {
    color: #FFF;
}

/* icon-play */
.icon-film-play, .icon-user-play, .icon-schedule-play {
    position: relative;
    color: #FFC107;
    font-size: 1.6rem;
    left: 2rem;
    top: 3rem;
    text-decoration: none;
}

.icon-film-play:hover, .icon-user-play :hover, a:hover {
    color: #FFC107;
}

/* Account */
.icon-acc {
    font-size: 3rem;
    color: #ffff;
}

.text-signout {
    font-size: 1rem;
    text-decoration: none;
    color: #ffff;
    position: relative;
    top: -1rem;
}

.text-signout:hover {
    color: #FFC107;
}
/* add */
.add-btn{
    border: none;
    text-decoration: none;
    background-color: #E00813;
    color: #ffff;
    padding: 0.4rem;
    border-radius: 0.3rem;
}
.add-btn:hover{
    color: #E00813;
    background-color: #ffff;
}

/* Modal */
.input-btn {
    border-radius: 4px;
    border: none;
}

.input-btn:hover {
    border-radius: 4px;
}
.btn-edit, .btn-schedule{
    border: none;
    background-color: #0B1A2A;
}
.modal-header {
    background: #E00813;
}

.modal-title {
    color: #FFF;
}

.close {
    color: white;
    background: #E00813;
    border: none;
    font-size: 20px;
}

.modal-body {
    background: #0B1A2A;
}

.title-title {
    color: #FFF;
    display: flex;
    align-items: flex-start;
}

#name {
    width: 400px;
}
.desc p, .trailer_ p, .name p{
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .cat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
.form-form label{
    color:#fff
}