@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --maincolor: #06111D;
    --title--color: #E00813;
    --text--color: beige;
    --h1-font-size: 3.5rem;
    --h2-font-size: 3.25rem;
    --h3-font-size: 3rem;
    --logo-font-size: 2rem;
    --font-types-product:3.5rem;
    --font-medium:700;
    --font-text-footer:100;
    /* #### body font */
    --body-font: 'Georgia', sans-serif;
}
body{
    background-color: var(--maincolor);
}
body{
    display: flex;
    background-color: #0B1A2A;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: 100% auto ;
    background-repeat: no-repeat;
}
.container{
    background-color: #1A293C;
    border-radius: 1rem;
    padding: 4rem;
    text-align: center;
    color: #ffff;
}
.code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}
.code{
    caret-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.6rem;
    border: 0rem solid #eee;
    font-size: 1.5rem;
    width: 3.2rem ;
    height: 3.5rem;
    margin: 0.7rem;
    text-align: center;
}
@media (max-width:600px){
    .container{
        max-width: 30rem;
    }
    .code-container{
        flex-wrap: wrap;
    }
    .code{
        font-size: 1.5rem;
        height: 3.5rem;
        max-width: 3.2rem;
        font-size: bold;
    }
}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button{
    -webkit-appearance: none ;
}
.code::valid{
    border-color: #9861c2;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}
.btn{
    min-width: 400px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;  
    border-radius: 0.1rem solid transparent;
    margin: 0px 0px 20px 0px;
    padding: 0.775rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7;
}
.btn:hover{
    background-color: #FFC107;
}
a{ 
    text-decoration: none;
    color:#FFC107;
}
a:hover{
    text-decoration: underline;
}
.btn-primary{
    color: #FFFF;
    background-color: #101D2D;
    border-color: none;
    border: none ;
}

